/* Fill CSS here */
body > h1 {
    color: blue;
    text-align: center;
}
div > form > label {
    font-weight: bold;
}
div {
    display: flex;
    justify-content: space-around;
}
form {
    margin: 0 auto;
    margin-top: 50px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}
table td,
table th {
    border: 1px solid blue;
    padding: 8px;
    text-align: center;
    background-color:blue;
}
/* table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;

} */
* {
    box-sizing: border-box;
}
input[type="text"],
input[type="nummber"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}
input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
}

